# DEVELOPMENT DEPENDENCIES ONLY
# The wordnet-lookup package itself has ZERO runtime dependencies
# These dependencies are only needed for development, testing, and linting
# Users installing via 'pip install wordnet-lookup' do not need these

autopep8==2.0.4
cffi==1.17.1
cfgv==3.3.1
colorama==0.4.6
cryptography==38.0.1
distlib==0.4.0
entrypoints==0.4
filelock==3.12.2
flake8==7.1.2
flakeheaven==0.11.0
identify==2.5.24
iniconfig==2.0.0
mccabe==0.7.0
nodeenv==1.10.0
packaging==24.0
plac==1.4.5
platformdirs==4.0.0
pluggy==1.2.0
pre-commit==2.21.0
pycodestyle==2.10.0
pycparser==2.23
pyflakes==3.2.0
Pygments==2.19.2
pytest==7.4.4
PyYAML==6.0.1
ruff==0.14.14
toml==0.10.2
unicodedata2==17.0.0
urllib3==2.2.3
virtualenv==20.26.6
-e git+ssh://git@github.com/craigtrim/wordnet-lookup.git@550d1512e279cd0fb60cd8cb324dcdddad423ee6#egg=wordnet_lookup
